<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 全局允许明文流量（HTTP） -->
<!--    <application-->
<!--        android:usesCleartextTraffic="true"/>-->
    <!-- 配置网络安全策略 -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"/>
</manifest>